<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Form</title>
</head>
<body>
  <div class="container">
    <h1>Here is your Inventory!</h1>
    <h1>A Massive List</h1>
    <div class="row">
      <div class="col-md-2">
        <strong>Make/Model</strong>
      </div>
      <div class="col-md-2">
        <strong>Mileage</strong>
      </div>
      <div class="col-md-2">
        <strong>Price</strong>
      </div>
      <div class="col-md-4">
        <strong>Notes</strong>
      </div>
    </div>
    <hr>
    @foreach( CarList.Models.Car car in Model)
    {
      <div class="row">
        <div class="col-md-2">
          @car.Make - @car.Model
        </div>
        <div class="col-md-2">
          @car.Mileage miles
        </div>
        <div class="col-md-2">
          $@car.Price
        </div>
        <div class="col-md-4">
          @car.Note
        </div>
      </div>
    }
    <a href='/cars/new'>Add a new car<a/>
  </div>
</body>
</html>
